.card-wrapper {
    margin-top: 10%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    cursor: pointer;
    width: 35%;
    margin: 0 auto;
    height: 150px;
    margin: 20px auto;
}

.heading {
    margin: 48px auto;
    text-align: center;
}
